@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }

  100% {
    transform: translateY(1rem);
    opacity: 1;
  }

  0% {
    transform: translateY(0rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(1);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(0rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
/*  */
.i_like_paper{
  padding-top: 60px;
  /* min-height: 2300px; */
  /* min-height: 2000px; */
  /* min-height: 300vh; */
  background-color: #f2d88f;
  width: 100%;
  position: relative;
}
.history_paper{
  min-height: 2200px;
  background-color: inherit;
  padding-top: 5vw;
  position: absolute;
  /* background-color: #ffff; */
  padding-left: 10%;
  text-align: left;
  font-family: 'Dongle', sans-serif;
}
.history_paper h1{
  font-size: 15vw;
  position: relative;
  z-index: 2;
  /* font-size: 108pt; */
}
.history_paper p{
  width: 75%;
  padding-left: 20px;
  background-color: rgba(256, 256, 256, 0.55);
  /* border-style: dashed; */
  /* background-color: rgba(245, 222, 159, 0.7); */
  font-size: 32pt;
  /* font-size: 3.3vw; */
  position: relative;
  z-index: 2;
}
.history_paper h5{
  width: 75%;
  padding-left: 20px;
  background-color: rgba(256, 256, 256, 0.7);
  border-style: dashed;
  /* background-color: rgba(245, 222, 159, 0.7); */
  font-size: 38pt;
  /* font-size: 4vw; */
  position: relative;
  z-index: 2;
}
.photo{
  flex: 1;
  float: right;
  padding-top: 20%;
  padding-right: 7%;
  position:relative;
  z-index: 1;
}
.photo li{
  background-color: white;
}
.photo img {
  width: auto;
  height: 1500px;
  /* height: 130vw; */
  opacity: 0.95;
}
/* @media (max-width: 1240px){
  .i_like_paper{
    height: 2500px;
  }
} */
@media (max-width: 833px){
  .history_paper{
    padding-left: 5%;
  }
  .history_paper h1{
    font-size: 18vw;
  }
  .history_paper h5{
    width: 95%;
    font-size: 30pt;
  }
  .history_paper p{
    width: 95%;
    font-size: 26pt;
  }
  .photo{
    padding-top: 35%;
    padding-right: 20%;
  }
  .photo img {
    content: url("pics/ae4.jpg");
  }
}
@media (max-width: 500px){
  .history_paper h1{
    font-size: 56pt;
  }
  .photo img {
    content: url("pics/ae5.jpg")
  }
  .history_paper p{
    font-size: 24pt;
  }
}
@media (max-width: 400px){
  .history_paper h1{
    font-size: 45pt;
  }
  .history_paper p{
    font-size: 20pt;
  }
}
