@media (min-width: 768px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }

  100% {
    transform: translateY(1rem);
    opacity: 1;
  }

  0% {
    transform: translateY(0rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(1);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(0rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
/*  */
.i_like_paper{
  /* padding-top: 33px; */
  padding-top: 100px;
  height: 1300px;
  /* height: 90vw; */
  background-color: #f2d88f;
  width: 100%;
  position: relative;
}
.what_paper{
  /* padding-top: 6vw; */
  position: absolute;
  /* background-color: #ffff; */
  padding-left: 10%;
  text-align: left;
  font-family: 'Dongle', sans-serif;
}
.what_paper h1{
  /* font-size: 10vw; */
  /* padding-bottom: 0.7vw; */
  font-size: 108px;
}
.what_paper p{
  width: 70%;
  padding-left: 20px;
  background-color: rgba(256, 256, 256, 0.7);
  border-style: dashed;
  /* background-color: rgba(245, 222, 159, 0.7); */
  /* font-size: 44pt; */
  font-size: 4vw;
}
.photo{
  flex: 1;
  float: right;
  padding-top: 7%; /* more work ahead... */
  padding-right: 7%;
}
.photo img {
  width: 70vw;
  height: auto;
}
@media (max-width: 833px){
  .what_paper h1{
    font-size: 90px;
  }
  .what_paper p{
    width: 90%;
    font-size: 36px;
  }
  .photo{
    padding-top: 11%;
  }
}
@media (max-width: 500px){
  .what_paper h1{
    font-size: 80px;
  }
  .what_paper p{
    font-size: 28px;
  }
  .photo{
    padding-top: 16%;
  }
}
@media (max-width: 400px){
  .what_paper h1{
    font-size: 60px;
  }
  .what_paper p{
    font-size: 24px;
  }
}
